<app-header></app-header>

<div class="container">

  <div class="containerGrid">

    <div class="containerItem"></div>
    <div class="containerItem"></div>
    <div class="containerItem"></div>
    <div class="containerItem"></div>
    <div class="containerItem"></div>
    <div class="containerItem"></div>
    <div class="containerItem"></div>
  </div>

  <div class="containerImage">
    <ul class="flex-container wrap">
      <li class="flex-item">1</li>
    </ul>
  </div>

  <div class="containerTable">
   <table _ngcontent-quf-c1="" _ngcontent-dtj-c1="" bgcolor="#efefef" border="2" style="
       height: 154px;
       width: 296px;">
       <tr _ngcontent-quf-c1="" _ngcontent-dtj-c1="" style="
         width: 50px;">
         <th _ngcontent-quf-c1="" _ngcontent-dtj-c1="" scope="row">DIRECTOR: </th>
         <th _ngcontent-quf-c1="" _ngcontent-dtj-c1="" scope="row">
         </th>

         </tr>
         <tr _ngcontent-quf-c1="" _ngcontent-dtj-c1="">
           <th _ngcontent-quf-c1="" _ngcontent-dtj-c1="" scope="row">PRODUCER: </th>
           <th _ngcontent-quf-c1="" _ngcontent-dtj-c1="" scope="row" style="
         width: 166px;">
           </th>
        </tr>

        <tr _ngcontent-quf-c1="" _ngcontent-dtj-c1="">
          <th _ngcontent-quf-c1="" _ngcontent-dtj-c1="" scope="row">RELEASE DATA: </th>
          <th _ngcontent-quf-c1="" _ngcontent-dtj-c1="" scope="row"></th>
        </tr> 

     </table>

     <table _ngcontent-quf-c1="" _ngcontent-dtj-c1="" bgcolor="#efefef" border="2" style="
            height: 242px;
            width: 296px;">
           <tr _ngcontent-quf-c1="" _ngcontent-dtj-c1="" style="
            height: 37px;">
           <th _ngcontent-quf-c1="" _ngcontent-dtj-c1="" scope="row">opening crawl: </th>
           </tr>

           <tr _ngcontent-quf-c1="" _ngcontent-dtj-c1="">
           <th _ngcontent-quf-c1="" _ngcontent-dtj-c1="" scope="row">: </th>
           </tr>
       </table>
   </div>

   <div class="containerButtons">

     <div _ngcontent-iyw-c1="" class="btn-group-vertical" style="
       padding-top: 85px;
       width: 146px;
       height: 397px;
       padding-bottom: 123px;
       border-bottom-width: 1px;
       margin-top: 0px;
       padding-right: 0px;
       padding-left: 1px;">
       <button _ngcontent-iyw-c1="" class="btn btn-primary" type="button">planets</button>
       <button _ngcontent-iyw-c1="" class="btn btn-primary" type="button">characters</button>
       <button _ngcontent-iyw-c1="" class="btn btn-primary" type="button">species</button>
       <button _ngcontent-iyw-c1="" class="btn btn-primary" type="button">starships</button>
       <button _ngcontent-iyw-c1="" class="btn btn-primary" type="button">vehicles</button>
     </div>
  </div>
   

</div>
