
.container {
    border: 2px solid black;
    height: 73vh;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.container .containerGrid {
    border: 2px solid black;
    height: 410px;
    max-height: -webkit-fill-available;
    width: 256px;
    grid-template-columns: 25px 88px 25px 88px 25px;
    grid-template-rows: 15px 85px 11px 85px 11px 85px 11px 85px 15px;
    display: grid;
}

.containerGrid .containerItem {
    border: 2px solid black;
    width: 89px;
    height: 87px;
}

.containerGrid .containerItem:nth-child(1){
    background-image: url('../../../assets/Img/Films1.jpg');
    background-size: 89px 78px;
    grid-column-start: 2;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 2;
    background-color: red;
}

.containerGrid .containerItem:nth-child(2){
    grid-column-start: 4;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 2;
    background-color: red;
}

.containerGrid .containerItem:nth-child(3){
    grid-column-start: 2;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 4;
    background-color: red;
}

.containerGrid .containerItem:nth-child(4){
    grid-column-start: 4;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 4;
    background-color: red;
}

.containerGrid .containerItem:nth-child(5){
    grid-column-start: 2;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 6;
    background-color: red;
}

.containerGrid .containerItem:nth-child(6){
    grid-column-start: 4;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 6;
    background-color: red;
}

.containerGrid .containerItem:nth-child(7){
    grid-column-start: 2;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 8;
    background-color: red;
}

.containerImage {
    border: 2px solid black;
    height: 400px;
    width: 300px;
    .flex-container {
        padding: 0;
        margin: 0;
        list-style: none;
        border: 1px solid silver;
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
      }
      .wrap    { 
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
      }  
      .wrap li {
        background: gold;
      }
      
      

}

.containerTable {
    border: 2px solid black;
    height: 400px;
    width: 300px;
    
}

.containerButtons {
    border: 2px solid black;
    height: 400px;
    width: 150px;

    .btn-group-vertical {
        background-color: #FC1506; /* Green background */
        border: 1px solid red; /* Green border */
        color: white; /* White text */
        padding: 10px 24px; /* Some padding */
        cursor: pointer; /* Pointer/hand icon */
        width: 50%; /* Set a width if needed */
        display: block; /* Make the buttons appear below each other */
      }
      
      .btn-group-vertical:not(:last-child) {
        border-bottom: none; /* Prevent double borders */
      }
      
      /* Add a background color on hover */
      .btn-group-vertical:hover {
        background-color: #FC1506;
      }
}
